.home-container__task-list {
     
    margin-left: 8%;
}

.flex-board{
    // width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    
    &__item{ 
        width: 90%; 
        margin:2vw;
    }
}